* {
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-auto-flow: column;

}

.eachBox {
  align-self: center;
  width: 100px;
  height: 100px;
  border: 2px solid salmon;
  border-radius: 10px;
  margin: 10px;
}

.headerOne {
  max-width: 550px;
  max-height: 550px;
  display: flex;
  margin: auto;
}